:root {
  --light-bg-color: #46b2f0;
  --dark-bg-color: #0d1f2b;
  --font-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--font-color);
  background-color: var(--light-bg-color);
  transition: color 1s ease, background-color 1s ease;
  min-height: 100vh;
}

body.dark {
  background-color: var(--dark-bg-color);
}

.container {
  padding: 1em;
}

@media only screen and (max-width: 500px) {
  .container {
    padding: 1.5em 0.5em;
  }
  .sidebar {
    display: none;
  }
}

.search-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: aliceblue;
}

a:hover {
  text-decoration: underline;
}

.dark a:hover {
  text-decoration: underline gray;
}

.btn-toggler {
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
  width: 22px;
  height: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dark .btn-toggler svg {
  fill: #ffce45;
  stroke: #ffce45;
}

.input-container {
  height: 65px;
  width: 85%;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.044), 0 22.3px 17.9px rgba(0, 0, 0, 0.066), 0 100px 80px rgba(0, 0, 0, 0.11);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0) scale(1, 1);
}

.input-container [type="text"] {
  height: 65px;
  color: #52de97;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 0px 45px 0px 18px;
  caret-color: #000;
  background: transparent;
  z-index: 5;
  width: 100%;
}

.input-container.animate {
  -webkit-animation: stretch-animation 800ms ease;
  animation: stretch-animation 800ms ease;
}

@-webkit-keyframes stretch-animation {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.02, 0.98);
  }
  30% {
    transform: scale(0.98, 1.02);
  }
  50% {
    transform: scale(1.02, 0.98);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes stretch-animation {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.02, 0.98);
  }
  30% {
    transform: scale(0.98, 1.02);
  }
  50% {
    transform: scale(1.02, 0.98);
  }
  100% {
    transform: scale(1, 1);
  }
}

input {
  outline: none;
  border: 0;
}

input[type="radio"] {
  margin: 0.5rem;
  opacity: 0;
  position: absolute;
}

input[type="radio"]:checked+.radio-label:before {
  background-color: #3197EE;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}

.radio-label {
  margin-right: 1em;
}

.radio-label::before {
  content: '';
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #f4f4f4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}

.btn-animate {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  padding: 15px 50px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 16px 20px -15px #355C7D;
  background: none;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  border-radius: 8px;
  overflow: hidden;
  outline: none;
  transform: translateZ(0);
}

.btn-animate span {
  position: relative;
  z-index: 2;
}

.btn-animate:before, .btn-animate:after {
  border-radius: 8px 8px 8px 8px;
  content: '';
  z-index: -1;
  background: linear-gradient(100deg, #C06C84, #6C5B7B);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn-animate:after {
  background: linear-gradient(100deg, #F67280, #F8B195);
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: .1s;
}

.btn-animate:hover {
  box-shadow: 0px 16px 47px -15px #003f77;
}

.btn-animate:hover:after {
  transform: scaleY(1);
  transform-origin: bottom;
  transition-delay: 0s;
}

.btn-animate:active {
  transform: translateY(4px) translateZ(0);
  box-shadow: 0px 8px 10px -6px #003f77;
}

.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.format-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.suggestions-section {
  text-align: center;
}

.suggestions-section h1 {
  padding: 1em 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  max-width: 250px;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  color: #CFD8DC;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #424242;
  display: inline-block;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dark .card {
  background: #383b40;
  color: #b5b7ba;
}

.card a {
  width: 100%;
  display: block;
  text-align: inherit;
  min-height: 275px;
}

.card .image {
  min-height: 180px;
  min-width: 320px;
  max-height: 180px;
  max-width: 320px;
}

.card .title {
  padding: 1em 0.5em;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
}

.dark .card .title {
  color: #b5b7ba;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%
  }
  100% {
    background-position: 100%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%
  }
  100% {
    background-position: 100%;
  }
}

button.download {
  -webkit-appearance: none;
  background: -webkit-gradient(to right, #ee786e 0%, #fceeb5 50%, #a2ccb6 100%);
  background: linear-gradient(to right, #ee786e 0%, #fceeb5 50%, #a2ccb6 100%);
  background-size: 500%;
  border: none;
  border-radius: 8px;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  color: #fff;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 3rem;
  font-size: larger;
  font-weight: bold;
  letter-spacing: 0.05em;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 85%;
  margin-bottom: 1em;
}

button.download:hover {
  animation-name: gradient;
  -webkit-animation-name: gradient;
  animation-duration: 2s;
  -webkit-animation-duration: s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.sidebar {
  position: fixed;
  right: 0px;
  height: 100vh;
  background: #fa6c98;
  max-width: 250px;
}

.sidebar ul {
  list-style-type: none;
  overflow-y: auto;
  height: 100%;
}

.sidebar li {
  padding: 1em 0.5em;
  display: flex;
  align-items: flex-start;
}

.sidebar li .title {
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  padding-left: 0.3em;
}

.downloading-section {
  text-align: center;
  margin-top: 1.5em;
  padding: 1em;
}

.downloading-section img {
  width: 100%;
  height: auto;
  max-width: 350px;
}