@font-face {
    font-family: 'Special Elite';
    src: local('Special Elite'), url(SpecialElite-Regular.ttf) format('truetype');
}

.special-elite-font {
    font-family: 'Special Elite', cursive !important;
}